services:
  backend:
    container_name: crm_backend
    build:
      context: .
      dockerfile: Dockerfile
      target: production
      args:
        BUILDKIT_INLINE_CACHE: 1
    restart: unless-stopped
    depends_on:
      - db
    volumes:
      - ./:/app
    ports:
      - "8000:8000"
    networks:
      - crm_network
    env_file:
     - .env
    environment:
      ENTRYPOINT_BACKEND: "true"
      DEBUG: "true"

  db:
    container_name: crm_db
    image: postgres:alpine
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_crm_data:/var/lib/postgresql/data
    networks:
      - crm_network

volumes:
  postgres_crm_data:
  
networks:
  crm_network:
    driver: bridge
